name: Generate graphics
on:
  push:
    branches:
      - main
    paths:
      - 'graphics-generator/**'
      - 'results/**'
      - '.github/workflows/**'
  pull_request:
    branches:
      - main
    types: [assigned, opened, synchronize, reopened, ready_for_review, edited]
    paths:
      - 'graphics-generator/**'
  workflow_dispatch:


env:
  # Workaround testsuite locale issue
  LANG: en_US.UTF-8

permissions:
  contents: write
  pull-requests: write

jobs:
  build-test-generate:
    name: "Build & Generate graphics"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
      - name: Build
        working-directory: graphics-generator
        run: ./mvnw -B verify
      - name: Ensure source directory exists
        run: mkdir -p results
      - name: Generate graphics
        run: |
          rm -rf images
          mkdir images
          java -jar graphics-generator/target/quarkus-app/quarkus-run.jar results images true
      - name: Commit generated resources via PR
        if: github.repository == 'quarkusio/benchmarks' && endsWith(github.ref, '/main') && github.event_name != 'pull_request' 
        id: create-pr
        uses: peter-evans/create-pull-request@v7
        with:
          add-paths: |
            images/**
          commit-message: "Generate charts (from ${{ github.workflow }} run # ${{ github.run_number }})"
          branch: create-images/sourceref
          branch-suffix: short-commit-hash
          delete-branch: true
          base: ${{ env.BRANCH }}
          title: "Generate charts (from ${{ github.workflow }} run # ${{ github.run_number }})"
          body: "Generated performance images from [${{ github.workflow }} run # ${{ github.run_number }}](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}), which was triggered by commit ${{ env.REF }}."
          labels: |
            Generated Resources
      - name: Merge PR
        env:
          GH_TOKEN: ${{ github.token }}
        if: (steps.create-pr.outputs.pull-request-operation == 'created') && (steps.create-pr.outputs.pull-request-number)
        run: gh pr merge --merge --delete-branch "${{ steps.create-pr.outputs.pull-request-url }}"
      - name: Publish latest images for inspection
        if: github.repository == 'quarkusio/benchmarks' && ! endsWith(github.ref, '/main') && github.event_name == 'pull_request'
        id: artifact-upload-step
        uses: actions/upload-artifact@v5
        with:
          name: images
          path: ./images/*svg
          retention-days: 3
      - name: Save PR number
        if: github.repository == 'quarkusio/benchmarks' && ! endsWith(github.ref, '/main') && github.event_name == 'pull_request'
        env:
          PR_NUMBER: ${{ github.event.number }}
        run: |
          mkdir -p ./pr
          echo $PR_NUMBER > ./pr/pr_number
      - uses: actions/upload-artifact@v4
        with:
          name: pr_number
          path: pr/